Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

**What is MongoDB?**

MongoDB is a popular open-source NoSQL (non-relational) database management system. It falls under the category of document-oriented databases, where data is stored in flexible, schema-less documents in the BSON (Binary JSON) format. MongoDB is designed to handle large volumes of data and is known for its high performance, scalability, and ease of use.

**Non-Relational Databases (NoSQL) in Short:**

Non-relational databases, commonly referred to as NoSQL databases, are a category of databases that do not follow the traditional relational database model. Unlike SQL databases, which use structured tables with fixed schemas, NoSQL databases offer more flexibility in data storage and retrieval. They can handle unstructured or semi-structured data and are well-suited for distributed and large-scale applications.

**Scenarios Preferred for MongoDB over SQL Databases:**

Semi-Structured Data: When dealing with data that doesn't fit well into a fixed schema or has varying attributes, MongoDB's flexible document structure is more suitable.

Big Data and Scalability: MongoDB excels in handling large-scale applications and datasets, especially in distributed environments, where it can easily scale horizontally.

Agile Development: In agile development environments, where requirements change frequently, MongoDB's schema-less nature allows developers to adapt quickly without the need for complex migrations.

Real-time Analytics and IoT: For applications that require real-time analytics, event logging, or Internet of Things (IoT) data processing, MongoDB's fast write speeds and flexible data model are advantageous.

Prototyping and Rapid Development: During the early stages of development or for rapid prototyping, MongoDB's easy setup and dynamic schema can accelerate the development process.

Document-Oriented Use Cases: MongoDB is particularly useful for use cases where data is naturally organized into JSON-like documents, such as content management systems, user profiles, catalogs, and event logs.

Q2. State and Explain the features of MongoDB.

**Document-Oriented:** Data is stored in JSON-like BSON documents, which allows flexibility in data structure and supports nested data.

**No Schema Constraints:** MongoDB is schema-less, meaning each document in a collection can have a different structure, allowing easy schema evolution.

**High Performance:** MongoDB provides high read and write throughput due to its memory-mapped storage engine and efficient indexing.

**Horizontal Scalability:** It supports sharding, allowing data to be distributed across multiple servers, enabling seamless horizontal scaling.

**Automatic Failover:** MongoDB provides built-in replication, allowing automatic failover and data redundancy for high availability.

**Indexing:** Supports various types of indexes to improve query performance, including single-field, compound, geospatial, and text indexes.

**Aggregation Framework:** Offers a powerful aggregation framework for complex data aggregation operations like grouping, filtering, and map-reduce.

**Ad Hoc Queries:** Allows dynamic and ad-hoc queries on documents, making it suitable for real-time and exploratory data analysis.

**Full Text Search:** Supports full-text search capabilities to perform text-based searches on indexed fields.

**Geospatial Queries:** Allows performing geospatial queries to find documents based on their geographic location.

**ACID Transactions:** In recent versions, MongoDB introduced multi-document ACID transactions for data integrity.

**Flexible Data Model:** Supports dynamic schema and nested documents, allowing changes to the data model without downtime.

**JSON and BSON Support:** Data is represented in JSON-like BSON (Binary JSON) format, which is easy to work with and efficient for storage and serialization.

**Open Source and Community Support:** MongoDB is an open-source project with a large community, offering extensive support and resources.

**Rich Query Language:** MongoDB provides a rich query language that supports a wide range of queries and operations.

**Easy Integration:** Works well with popular programming languages and frameworks, making it easy to integrate with existing applications.

**Cloud Integration:** MongoDB Atlas, the official MongoDB cloud service, provides easy cloud deployment and management options.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [6]:
import pymongo

# Replace the connection string with your MongoDB connection string
connection_string = "mongodb+srv://rbrothers48trade:Password_123456@cluster0.xdi43de.mongodb.net/?retryWrites=true&w=majority"

try:
    # Create a MongoClient object
    client = pymongo.MongoClient(connection_string)

    # Access the 'db_pwskills' database
    database = client['db_pwskills']

    # Create or access the 'col_pwskills' collection
    collection = database['col_pwskills']

    # Data to be inserted into the collection
    student_data = {
        "name": "John Doe",
        "age": 20,
        "student_id": "S12345",
        "major": "Computer Science",
        "courses": ["Mathematics", "Programming", "Database Management"],
        "grades": {
            "Mathematics": "A",
            "Programming": "B+",
            "Database Management": "A-"
        },
        "contact": {
            "email": "johndoe@example.com",
            "phone": "123-456-7890",
            "address": "123 Main St, City"
        }
    }

    # Insert the student_data into the collection
    collection.insert_one(student_data)

    # Check if the insertion was successful
    print("Data inserted successfully!")

except pymongo.errors.ConnectionFailure as e:
    print(f"Failed to connect to MongoDB: {e}")

Data inserted successfully!

In [7]:
for i in collection.find():
    print(i,"\n")

{'_id': ObjectId('64b6cbcd1cfbdc63a5bb3ab6'), 'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

{'_id': ObjectId('64b6cc8e1cfbdc63a5bb3ab7'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}

{'_id': ObjectId('64b6cdd41cfbdc63a5bb3ab8'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}

{'_id': ObjectId('64b6cdd41cfbdc63a5bb3ab9'), 'name': 'Jane Smith', 'age': 19, 'student_id': 'S67890', 'major': 'Biology', 'courses': ['Biology', 'Chemistry', 'Anatomy'], 'grades': {'Biology': 'A', 'Chemistry': 'A-', 'Anatomy': 'B'}, 'contact': {'email': 'janesmith@example.com', 'phone': '987-654-3210', 'address': '456 Elm St, City'}}

{'_id': ObjectId('64bcf23fb0b137f681579237'), 'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

{'_id': ObjectId('64bcf245b0b137f681579238'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}

{'_id': ObjectId('64bcf247b0b137f681579239'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}

{'_id': ObjectId('64bcf247b0b137f68157923a'), 'name': 'Jane Smith', 'age': 19, 'student_id': 'S67890', 'major': 'Biology', 'courses': ['Biology', 'Chemistry', 'Anatomy'], 'grades': {'Biology': 'A', 'Chemistry': 'A-', 'Anatomy': 'B'}, 'contact': {'email': 'janesmith@example.com', 'phone': '987-654-3210', 'address': '456 Elm St, City'}}

{'_id': ObjectId('64bcf310654fe4fda0b1c43e'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}

{'_id': ObjectId('64bcf360654fe4fda0b1c440'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [8]:
import pymongo

# Replace the connection string with your MongoDB connection string
connection_string = "mongodb+srv://rbrothers48trade:Password_123456@cluster0.xdi43de.mongodb.net/?retryWrites=true&w=majority"

try:
    # Create a MongoClient object
    client = pymongo.MongoClient(connection_string)

    # Access the 'db_pwskills' database
    database = client['db_pwskills']

    # Create or access the 'col_pwskills' collection
    collection = database['col_pwskills']

    # Data to be inserted into the collection
    student_data_one = {
        "name": "Alice",
        "age": 22,
        "student_id": "S67890",
        "major": "Physics",
        "courses": ["Physics", "Mathematics", "Electronics"],
        "grades": {
            "Physics": "A+",
            "Mathematics": "A",
            "Electronics": "A-"
        },
        "contact": {
            "email": "alice@example.com",
            "phone": "987-654-3210",
            "address": "456 Park Ave, Town"
        }
    }

    # Insert one record into the collection
    result_one = collection.insert_one(student_data_one)
    print("One record inserted. Inserted ID:", result_one.inserted_id)

    # Data to be inserted as multiple records into the collection
    student_data_many = [
        {
            "name": "Bob",
            "age": 21,
            "student_id": "S54321",
            "major": "Chemistry",
            "courses": ["Chemistry", "Biology", "Mathematics"],
            "grades": {
                "Chemistry": "A",
                "Biology": "B",
                "Mathematics": "B+"
            },
            "contact": {
                "email": "bob@example.com",
                "phone": "555-555-5555",
                "address": "789 Oak St, Village"
            }
        },
        {
            "name": "Eve",
            "age": 23,
            "student_id": "S24680",
            "major": "History",
            "courses": ["History", "Literature", "Politics"],
            "grades": {
                "History": "B+",
                "Literature": "A-",
                "Politics": "A"
            },
            "contact": {
                "email": "eve@example.com",
                "phone": "111-222-3333",
                "address": "101 Elm Rd, County"
            }
        }
    ]

    # Insert multiple records into the collection
    result_many = collection.insert_many(student_data_many)
    print("Multiple records inserted. Inserted IDs:", result_many.inserted_ids)

    # Print the inserted records using find_one() and find()
    print("\nInserted Record (find_one()):")
    print(collection.find_one({"name": "Alice"}))

    print("\nInserted Records (find()):")
    for record in collection.find():
        print(record)

except pymongo.errors.ConnectionFailure as e:
    print(f"Failed to connect to MongoDB: {e}")

One record inserted. Inserted ID: 64bcf550654fe4fda0b1c442
Multiple records inserted. Inserted IDs: [ObjectId('64bcf552654fe4fda0b1c443'), ObjectId('64bcf552654fe4fda0b1c444')]

Inserted Record (find_one()):
{'_id': ObjectId('64bcf550654fe4fda0b1c442'), 'name': 'Alice', 'age': 22, 'student_id': 'S67890', 'major': 'Physics', 'courses': ['Physics', 'Mathematics', 'Electronics'], 'grades': {'Physics': 'A+', 'Mathematics': 'A', 'Electronics': 'A-'}, 'contact': {'email': 'alice@example.com', 'phone': '987-654-3210', 'address': '456 Park Ave, Town'}}

Inserted Records (find()):
{'_id': ObjectId('64b6cbcd1cfbdc63a5bb3ab6'), 'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
{'_id': ObjectId('64b6cc8e1cfbdc63a5bb3ab7'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64b6cdd41cfbdc63a5bb3ab8'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64b6cdd41cfbdc63a5bb3ab9'), 'name': 'Jane Smith', 'age': 19, 'student_id': 'S67890', 'major': 'Biology', 'courses': ['Biology', 'Chemistry', 'Anatomy'], 'grades': {'Biology': 'A', 'Chemistry': 'A-', 'Anatomy': 'B'}, 'contact': {'email': 'janesmith@example.com', 'phone': '987-654-3210', 'address': '456 Elm St, City'}}
{'_id': ObjectId('64bcf23fb0b137f681579237'), 'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
{'_id': ObjectId('64bcf245b0b137f681579238'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf247b0b137f681579239'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf247b0b137f68157923a'), 'name': 'Jane Smith', 'age': 19, 'student_id': 'S67890', 'major': 'Biology', 'courses': ['Biology', 'Chemistry', 'Anatomy'], 'grades': {'Biology': 'A', 'Chemistry': 'A-', 'Anatomy': 'B'}, 'contact': {'email': 'janesmith@example.com', 'phone': '987-654-3210', 'address': '456 Elm St, City'}}
{'_id': ObjectId('64bcf310654fe4fda0b1c43e'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf360654fe4fda0b1c440'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf550654fe4fda0b1c442'), 'name': 'Alice', 'age': 22, 'student_id': 'S67890', 'major': 'Physics', 'courses': ['Physics', 'Mathematics', 'Electronics'], 'grades': {'Physics': 'A+', 'Mathematics': 'A', 'Electronics': 'A-'}, 'contact': {'email': 'alice@example.com', 'phone': '987-654-3210', 'address': '456 Park Ave, Town'}}
{'_id': ObjectId('64bcf552654fe4fda0b1c443'), 'name': 'Bob', 'age': 21, 'student_id': 'S54321', 'major': 'Chemistry', 'courses': ['Chemistry', 'Biology', 'Mathematics'], 'grades': {'Chemistry': 'A', 'Biology': 'B', 'Mathematics': 'B+'}, 'contact': {'email': 'bob@example.com', 'phone': '555-555-5555', 'address': '789 Oak St, Village'}}
{'_id': ObjectId('64bcf552654fe4fda0b1c444'), 'name': 'Eve', 'age': 23, 'student_id': 'S24680', 'major': 'History', 'courses': ['History', 'Literature', 'Politics'], 'grades': {'History': 'B+', 'Literature': 'A-', 'Politics': 'A'}, 'contact': {'email': 'eve@example.com', 'phone': '111-222-3333', 'address': '101 Elm Rd, County'}}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In MongoDB, the find() method is used to query a collection and retrieve documents that match the specified criteria. The find() method returns a cursor, which can be iterated to access the documents that match the query. You can use various query operators and conditions to filter the documents based on your requirements.

In [9]:
import pymongo

# Replace the connection string with your MongoDB connection string from the previous question
connection_string = "mongodb+srv://rbrothers48trade:Password_123456@cluster0.xdi43de.mongodb.net/?retryWrites=true&w=majority"

try:
    # Create a MongoClient object
    client = pymongo.MongoClient(connection_string)

    # Access the 'db_pwskills' database
    database = client['db_pwskills']

    # Access the 'col_pwskills' collection
    collection = database['col_pwskills']

    # Query the collection to find documents where the 'major' field is 'Computer Science'
    query = {"major": "Computer Science"}
    result_cursor = collection.find(query)

    # Print the matching documents
    print("Matching Documents:")
    for document in result_cursor:
        print(document)

except pymongo.errors.ConnectionFailure as e:
    print(f"Failed to connect to MongoDB: {e}")

Matching Documents:
{'_id': ObjectId('64b6cc8e1cfbdc63a5bb3ab7'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64b6cdd41cfbdc63a5bb3ab8'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf245b0b137f681579238'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf247b0b137f681579239'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf310654fe4fda0b1c43e'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf360654fe4fda0b1c440'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In MongoDB, the sort() method is used to sort the results of a query in ascending or descending order based on one or more fields in the documents. By default, the find() method returns documents in the order they were inserted into the collection, but you can use the sort() method to change the order of the results based on specific fields.

The sort() method takes a list of tuples, where each tuple contains the field name and the sorting order (1 for ascending and -1 for descending).

In [12]:
import pymongo

# Replace the connection string with your MongoDB connection string from the previous question
connection_string = "mongodb+srv://rbrothers48trade:Password_123456@cluster0.xdi43de.mongodb.net/?retryWrites=true&w=majority"

try:
    # Create a MongoClient object
    client = pymongo.MongoClient(connection_string)

    # Access the 'db_pwskills' database
    database = client['db_pwskills']

    # Access the 'col_pwskills' collection
    collection = database['col_pwskills']

    # Query the collection and sort the results
    result_cursor = collection.find().sort([("name", 1)])

    # Print the sorted documents
    print("Sorted Documents:")
    for document in result_cursor:
        print(document)

except pymongo.errors.ConnectionFailure as e:
    print(f"Failed to connect to MongoDB: {e}")

Sorted Documents:
{'_id': ObjectId('64b6cbcd1cfbdc63a5bb3ab6'), 'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
{'_id': ObjectId('64bcf23fb0b137f681579237'), 'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
{'_id': ObjectId('64bcf550654fe4fda0b1c442'), 'name': 'Alice', 'age': 22, 'student_id': 'S67890', 'major': 'Physics', 'courses': ['Physics', 'Mathematics', 'Electronics'], 'grades': {'Physics': 'A+', 'Mathematics': 'A', 'Electronics': 'A-'}, 'contact': {'email': 'alice@example.com', 'phone': '987-654-3210', 'address': '456 Park Ave, Town'}}
{'_id': ObjectId('64bcf552654fe4fda0b1c443'), 'name': 'Bob', 'age': 21, 'student_id': 'S54321', 'major': 'Chemistry', 'courses': ['Chemistry', 'Biology', 'Mathematics'], 'grades': {'Chemistry': 'A', 'Biology': 'B', 'Mathematics': 'B+'}, 'contact': {'email': 'bob@example.com', 'phone': '555-555-5555', 'address': '789 Oak St, Village'}}
{'_id': ObjectId('64bcf552654fe4fda0b1c444'), 'name': 'Eve', 'age': 23, 'student_id': 'S24680', 'major': 'History', 'courses': ['History', 'Literature', 'Politics'], 'grades': {'History': 'B+', 'Literature': 'A-', 'Politics': 'A'}, 'contact': {'email': 'eve@example.com', 'phone': '111-222-3333', 'address': '101 Elm Rd, County'}}
{'_id': ObjectId('64b6cdd41cfbdc63a5bb3ab9'), 'name': 'Jane Smith', 'age': 19, 'student_id': 'S67890', 'major': 'Biology', 'courses': ['Biology', 'Chemistry', 'Anatomy'], 'grades': {'Biology': 'A', 'Chemistry': 'A-', 'Anatomy': 'B'}, 'contact': {'email': 'janesmith@example.com', 'phone': '987-654-3210', 'address': '456 Elm St, City'}}
{'_id': ObjectId('64bcf247b0b137f68157923a'), 'name': 'Jane Smith', 'age': 19, 'student_id': 'S67890', 'major': 'Biology', 'courses': ['Biology', 'Chemistry', 'Anatomy'], 'grades': {'Biology': 'A', 'Chemistry': 'A-', 'Anatomy': 'B'}, 'contact': {'email': 'janesmith@example.com', 'phone': '987-654-3210', 'address': '456 Elm St, City'}}
{'_id': ObjectId('64b6cc8e1cfbdc63a5bb3ab7'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64b6cdd41cfbdc63a5bb3ab8'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf245b0b137f681579238'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf247b0b137f681579239'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf310654fe4fda0b1c43e'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}
{'_id': ObjectId('64bcf360654fe4fda0b1c440'), 'name': 'John Doe', 'age': 20, 'student_id': 'S12345', 'major': 'Computer Science', 'courses': ['Mathematics', 'Programming', 'Database Management'], 'grades': {'Mathematics': 'A', 'Programming': 'B+', 'Database Management': 'A-'}, 'contact': {'email': 'johndoe@example.com', 'phone': '123-456-7890', 'address': '123 Main St, City'}}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

**delete_one():**

Purpose: The delete_one() method is used to delete a single document that matches the specified criteria from a MongoDB collection.

Usage: You can pass a query document as an argument to delete_one(), specifying the criteria for the deletion. If there are multiple documents that match the query, only the first one encountered will be deleted.

In [13]:

    # Define the query to find the document to delete
    query = {"name": "John Doe"}

    # Delete the matching document
    result = collection.delete_one(query)

    if result.deleted_count > 0:
        print("Document deleted successfully!")
    else:
        print("No document found with the specified criteria.")

Document deleted successfully!

**delete_many():**

Purpose: The delete_many() method is used to delete multiple documents that match the specified criteria from a MongoDB collection.

Usage: Similar to delete_one(), you can pass a query document as an argument to delete_many(), specifying the criteria for the deletion. All documents that match the query will be deleted.

In [16]:
# Define the query to find the documents to delete
query = {"major": "Physics"}

# Delete all matching documents
result = collection.delete_many(query)

print(f"{result.deleted_count} documents deleted successfully!")

1 documents deleted successfully!

**drop():**

Purpose: The drop() method is used to completely remove a collection from the database. It deletes the entire collection and all its documents permanently.

Usage: You don't need to specify any criteria with drop(); it simply takes the name of the collection as an argument.

In [18]:
 # Drop the 'col_pwskills' collection
collection = database['col_pwskills']
collection.drop()

print("Collection dropped successfully!")

Collection dropped successfully!